name: Radio Crawler

on:
  repository_dispatch:
    types: [trigger-crawl]  # GASからの合図待ち
  workflow_dispatch:        # 手動ボタンも残す
jobs:
  crawl:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'  
        
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        
    - name: Run crawler
      env:
        GOOGLE_SERVICE_ACCOUNT_JSON: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
        GOOGLE_SHEET_ID: ${{ secrets.GOOGLE_SHEET_ID }}
      run: python radiko_crawler.py
